[2020-06-18 17:54] joetristano opened #4 "clone_schedules fails multiple calls"
Hi,
We are trying to use the clone schedule functionality from 2019.4.1 to 2020.2
We want to migrate all schedules in bulk before we migrate content.
Line 20 of schedule.py fails with an exception on the any(schedule_names) call since the default is none and any fails with a non iterable.   Even if we pass schedules in ,  the code throws an exception with a key error on line 23.

This functionalit

[2020-06-18 23:32] divinorum-webb commented on #4
_Hey Joe, where you goin' with that gun in your hand?_

Had to get that Hendrix reference out of my system.

The issue should be resolved, go ahead and upgrade the library in your local environment (pip install --upgrade tableau-api-lib) and try running your program.

Let me know how if you have any trouble with it.

[2020-06-22 19:05] joetristano commented on #4
Thank you Elliot!  You'll need to update your example to use a list
#estam_schedules_df = schedules_df.loc[schedules_df['name'].str.contains('estam')]['name'].tolist()

[2020-06-22 19:37] joetristano opened #5 "Daily Schedules wont clone"
Hi Elliot,
I found errors in cloning daily schedules.
I am unable to create PR's from my work computer so I will paste the lines here

    fix Daily schedules
[code]

[2020-06-22 20:42] divinorum-webb commented on #5
Hey Joe, what's the deal with changing
`from tableau_api_lib.api_requests import BaseRequest`
to
`om tableau_api_lib.api_requests import BaseRequest` ?

Other than that, I went ahead and made the other changes and updated the library on PyPI.

[2020-06-23 17:37] joetristano commented on #5
Thank you Elliot! cut n paste error on the "om" :)

Thanks
Joe

[2020-07-03 18:29] #5 closed

[2020-07-03 18:30] #4 closed

[2020-07-22 09:31] mdabrar4devops opened #6 "Permission Denied"
response = conn.publish_workbook(workbook_file_path=YOUR_WORKBOOK_FILE_PATH,
                                 workbook_name=YOUR_WORKBOOK_NAME,
                                 project_id=YOUR_PROJECT_ID,
                                 server_address=YOUR_DB_SERVER_ADDRESS,
                                 port_number=YOUR_DB_PORT_NUMBER,
                                 connection_username=YOUR

[2020-07-23 20:38] divinorum-webb commented on #6
Can you post the full error? It isn't clear to me whether you are getting a permission error from Tableau Server or if it's a permission error from your file system. If it's from Tableau Server, you might want to check that you have permissions to publish. If it's a file system issue, that's an entirely different issue outside the scope of this library.

[2020-08-04 08:12] BernardoGui opened #7 "<Response [401]> when using personal access token"
I am having problems to establish a connection:

[code]
fails with `<Response [401]>`

Login with TSC works:
[code]

[2020-08-04 09:11] divinorum-webb commented on #7
Hi Bernardo, I believe your site_url is being configured incorrectly. This can be confusing because Tableau's site / content url is not in fact the URL, it is the site name as it appears in the URL.

Here is a sample configuration:
{
        'server': 'https://10ax.online.tableau.com',
        'api_version': '3.9',
        'personal_access_token_name': '<name>',
        'personal_access_token_secr

[2020-08-04 09:13] divinorum-webb commented on #7
And if you are using the default site on Tableau Server, simply leave the entries for 'site_name' and 'site_url' as empty quotations ('').

[2020-08-04 09:39] #7 closed

[2020-08-12 13:27] vegi1979 opened #8 "Revision history migration"
Hi Devyx  Thank you for the code it really helped.Have a question can we copy Revision history from Source Workbook to destination work book .. I have seen Clone_Projects,Clone_sites ,clone_schedules and Clone_workbooks but cant find any section to move version history ... Can you please let me know if we have any option to move or clone revision history...
Thank You

[2020-08-12 23:43] sagarb311 opened #9 "Invalid Syntax Error on import statement"
Hello,

I installed this library using pip on a virtual environment using Python 3.5.1
When I run the import statement, it throws an error.

## Installation Steps
`pip install tableau-api-lib`

## To Reproduce Error
`import tableau_api_lib`

**Error:**
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/<sdgfdhs>/.pyenv/versions/<fdsfdsfdgg>/lib/python3.5/site-

[2020-08-13 07:47] divinorum-webb commented on #9
Hi, that error is being thrown because Python 3.5 does not support [f-strings](https://realpython.com/python-f-strings/).
If using Python 3.6 or higher, this will not be an issue.

[2020-08-13 07:57] divinorum-webb commented on #8
I don't think there is an elegant solution existing to migrating version history via REST API. To copy the entire workbook revision history, I can think of three potential methods:

1) Use the API call that downloads a [specific workbook revision](https://help.tableau.com/current/api/rest_api/en-us/REST/rest_api_ref.htm#download_workbook_revision). You would probably need to query the workbooks fi

[2020-08-13 07:57] #8 closed

[2020-09-08 21:36] pneeli opened #11 "Tableau Authentication via Personal Access Tokens"
Hello,

I am trying to use to Python from tableau_api_lib import TableauServerConnection lib to do a GraphQL query, but my organization authenticate using Personal Access token instead of Username and Password. Does this library can use access token to authenticate to Tableau?

[2020-09-08 22:24] #9 closed

[2020-09-08 22:25] #6 closed

[2020-09-08 22:28] divinorum-webb commented on #11
Yes, [here's a tutorial](https://medium.com/snake-charmer-python-and-analytics/tableau-server-on-tap-authenticating-with-a-personal-access-token-7f4affaece3e) on how to get started using personal access tokens.

In summary, you can use your personal access token name and secret instead of a username / password.

[2020-09-09 01:46] pneeli commented on #11
Thanks alot for the information.

On Tue, Sep 8, 2020 at 3:29 PM Elliott <notifications@github.com> wrote:

--
Thanks and Regards
Pavankumar Neeli

[2020-10-02 16:47] CG0047 opened #12 "Response result encoding error"
Hello，my use get_view_data_dataframe func find tableau view data，return DataFrame data exists Chinese coding error。

for solve this problem，I'm here src/tableau_api_lib/tableau_server_connection.query_view_data()，in return response Previous line add response.encoding = response.apparent_encoding，Got a short fix。

coding Examples：

@verify_api_method_exists('2.8')
def query_view_data(self,

[2020-10-21 15:58] azdoherty opened #13 "Filters not passed when querying view data"
No parameters are passed when the request is made, nothing is actually being done with them inside of `ViewEndpoint` so they can either be handled there or added to the request.

[code]

[2020-11-12 00:30] #11 closed

[2020-11-27 09:51] BernardoGui opened #16 "Images are missing in published Dashboards"
When publishing it seems that  'External Files' are not included. Did not see a flag to change that.

[2020-12-06 23:52] divinorum-webb commented on #16
Hi Bernardo, I'm not seeing such a flag in the REST API reference:
https://help.tableau.com/current/api/rest_api/en-us/REST/rest_api_ref.htm#publish_workbook
https://help.tableau.com/current/api/rest_api/en-us/REST/rest_api_ref.htm#publish_data_source

If Tableau makes this option available to the publishing endpoints of the REST API reference, then we'll add it in.

[2020-12-06 23:52] #16 closed

[2020-12-06 23:55] divinorum-webb commented on #12
Hi, would this be impacting all endpoints or is this specific to querying view data? I'll take a look at adding the `apparent_encoding`.

[2020-12-07 00:04] divinorum-webb commented on #13
Closing this issue, as discussed in the related pull request thread.

To summarize, we are sticking with `parameter_dict` as-is because:
(a) the existing implementation supports passing filters in the format used within the REST API reference documentation
(b) the view filters are a special case of URL parameters, and the existing implementation supports passing any arbitrary URL parameter (pagina

[2020-12-07 00:04] #13 closed

[2020-12-07 10:43] CG0047 commented on #12
yes, impacting all endpoints, Thank you~

[2021-01-19 07:34] divinorum-webb commented on #12
Hi @CG0047 a parameter has been added to `TableauServerConnection` that supports using apparent encoding.

You can enable apparent encoding by setting the parameter `use_apparent_encoding` to `True` when initializing an instance of Tableau Server Connection:

`conn = TableauServerConnection(config, env='my_env', use_apparent_encoding=True)`

[2021-01-19 07:34] #12 closed

[2021-04-16 13:56] dreamca4er opened #24 "Problems after publishing workbook"
**Prerequisites**:

- python3.7
- tableau-api-lib==0.1.1
- Tableau 2021.1.0 (20211.21.0409.0059)
- Workbook with one embedded BigQuery datasource

**My actions:**

1. Acquire conn (TableauServerConnection object)
2. Publish twbx workbook using conn.publish_workbook.
[code]
3. Embed BigQuery credentials into workbook's datasource using Tableau web UI (these credentials are 100% valid as I use them

[2021-04-19 14:41] divinorum-webb commented on #24
Hi, thanks for reporting the issue! Looking into reproducing it locally and then I'll follow up with you here.

[2021-04-19 16:35] divinorum-webb commented on #24
Hey @dreamca4er, in my testing I encountered the exact same issue and it was resolved by passing a port number when publishing the workbook.

The port number must be passed as a string, and for me passing "0" worked for a BigQuery table extract.
Here are my connection details as a reference:

[code]

Until I work in a permanent fix, this should do the trick for you. I'll see if there is a viable w

[2021-04-19 20:04] dreamca4er commented on #24
I used your connection parameters, but the same error occurred, adding or removing `port_number` parameter did nothing. But when I added `oauth_flag=True`, everything seemed to work:) So, I guess my problem is solved, thanks a lot!

[2021-04-19 21:21] #24 closed

[2021-04-22 15:36] gretchenojewell opened #25 "Clone subscriptions"
No code listed for clone subscriptions. Is this intentional or do you have something you could share?

[2021-04-22 18:05] divinorum-webb commented on #25
Hey @gretchenojewell all of the `utils.cloning` code is experimental and while some of the cloning methods are functional, most is not.

What I can share about the underlying idea is this:
1) you define a TableauServerConnection for your source server
2) you define a TableauServerConnection for your destination server
3) you query schedules for your source server
4) you create schedules with the s

[2021-04-22 18:53] gretchenojewell commented on #25
Elliott, I love you stuff. Please don't pull anything down, we like your
thought process and it helps us work through our problems.

Wrre3currently migrating from online to an aws server so we're trying to
figure out how to maintain subscriptions and custom views for our users. We
have hundreds set up .

On Thu, Apr 22, 2021, 2:05 PM Elliott ***@***.***> wrote:

[2021-04-22 20:26] divinorum-webb commented on #25
Ah, I understand. This migration from Tableau Online to Tableau Server is particularly tricky because you cannot generate a site export and then restore this in your new environment.

It might be worth contacting Tableau Support and asking about their "Content Migration Tool". A year ago I had some discussions with their engineering team, and they were discussing some features in development that

[2021-04-22 21:20] gretchenojewell commented on #25
Thanks for the tip!
I've spoken with them on it but they won't confirm that it will move
subscriptions. They say "theoretically " it will.

All good, but we love your library! I'm a novice at best but it's still
saved us time.

On Thu, Apr 22, 2021, 4:26 PM Elliott ***@***.***> wrote:

[2021-04-23 15:48] mekvd opened #27 "Wrong version control."
For get workbook pdf method there are minimum version 3.8, but when i use my version 3.10, which is greater it breaks down.
These happens because of wrong numeration by Tableau. In there mind 3.1,3.2 and then 3.10, but for python comparison for float type it is wrong.

[2021-04-23 18:30] divinorum-webb commented on #27
@mekvd what version of the library are you running? We saw a similar issue months ago but patched it and when testing just now, using the `download_workbook_pdf` method works as expected.
Please run `pip install -U tableau-api-lib` and verify if you still have the issue after upgrading the library.

[2021-04-23 18:46] #25 closed

[2021-04-29 23:34] lerenah opened #28 "typeguard preventing use of module"
Currently on version 0.1.1, if you try to import tableau_api_lib, it will break because of a sudden dependency on typeguard:

"/opt/anaconda/lib/python3.6/site-packages/tableau_api_lib/utils/pagination
.py", line 4, in <module>
    from typeguard import typechecked
ModuleNotFoundError: No module named 'typeguard'

[2021-04-30 02:08] anurlybayev opened #29 "Querying throws an error"
Hello,

Following snippet:
[code]

throws an error:
[code]

Please advise?

[2021-04-30 02:09] anurlybayev commented on #29
Using `connection` methods works as expected.

[2021-04-30 02:16] anurlybayev commented on #29
The above works on the `0.1.2` version of the library.

[2021-04-30 10:51] divinorum-webb commented on #29
Hi @anurlybayev sorry for the inconvenience, this bug has been patched and running `pip install -U tableau-api-lib` should resolve the issue.

The issue resulted from two errors on our end:
1) the typeguard package has been introduced for type checking on certain classes / functions, but was not added to the library's `setup.py` as a requirement
2) typeguard is being introduced to the library and

[2021-04-30 10:54] divinorum-webb commented on #28
Hi @lerenah thank you for calling attention to this and sorry for the inconvenience. This was my fault in not adding `typeguard` to the `setup.py` requirements, which has now been updated.

Please run `pip install -U tableau-api-lib` and reply here if this resolves your issue.

[2021-04-30 11:45] anurlybayev commented on #29
Confirm, this has been resolved in `0.1.5`

[2021-04-30 11:45] #29 closed

[2021-04-30 12:53] divinorum-webb commented on #27
Hi @mekvd, can you please confirm if upgrading the library resolves this issue?
In local tests, using API versions of `3.10` or `3.11` are working as intended.

Thank you for raising the issue! It's people like you that help make the library better.

[2021-04-30 13:30] lerenah commented on #28
Ok thanks for confirming!  We're good to go now. Cheers!

[2021-04-30 13:30] #28 closed

[2021-05-08 14:09] #27 closed

[2021-05-14 15:34] lukezamboni opened #33 "How does Run Extract Refresh Task maps to tableau-api-lib?"
https://help.tableau.com/current/api/rest_api/en-us/REST/rest_api_ref_jobs_tasks_and_schedules.htm#run_extract_refresh_task

Couldn't figure this one out as it seems to behave differently from most other methods.

[2021-05-14 17:50] #33 closed

[2021-05-14 18:16] divinorum-webb commented on #33
Hey @lukezamboni did you end up finding the answer? Let me know if you have any follow-up questions!

[2021-05-14 19:16] lukezamboni commented on #33
Yes! I found your very useful tutorial on Medium :)

Thank you.

[2021-06-16 10:43] dreamca4er opened #38 "Problems with get_workbooks_dataframe @ Tableau API 3.12"
**Python version:** 3.7.9
**tableau-api-lib version:** 0.1.14
**Tableau API version:** 3.12

**Problem:**
While using **tableau_api_lib.utils.querying. get_workbooks_dataframe** function with these specs an error occurs

[code]

After a little debugging we can find out that **query_workbooks_for_site** method executes bad request, with this response:
[code]

The reason of this is that **get_workbo

[2021-06-16 11:20] divinorum-webb commented on #38
@dreamca4er thanks for diving down that rabbit hole and figuring this out. This indeed seems to be a new issue for 3.12. I have asked Tableau about if this is intended or not, as it appears only Tableau Online is impacted right now. That is, I do not see any documentation for the Tableau REST API for 3.12 yet on the API reference.

If this is an intended change then I will modify the `tableau-api-

[2021-06-16 11:27] dreamca4er commented on #38
To be even more precise, **_default_** fields value still works, as well as custom values like owner or project. Looks like only *_all_* predefined expression is affected.

[2021-06-22 19:56] ericmli419 opened #39 "Cannot read foreign language"
I am querying data from a workbook that contains foreign language (mostly chinese) but it is not reading properly. For example, this is showing up "é»å±±å±åå½" as country when it should be "黑山共和国".

[2021-06-27 13:25] suzuke commented on #39
set use_apparent_encoding=True in TableauServerConnection may help.

[2021-06-28 13:50] divinorum-webb commented on #39
@ericmli419 Can you please try setting the `use_apparent_encoding` flag to True when initializing your TableauServerConnection instance as @suzuke said and then follow up on this thread if that resolves the issue for you?

Thanks @suzuke !

[2021-06-28 19:09] ericmli419 commented on #39
That works! Thanks so much!

[2021-06-28 19:09] #39 closed

[2021-07-04 14:05] divinorum-webb commented on #38
Following up here, Tableau has filed an internal ticket to investigate the issue with the `_all_` fields parameter. In my own testing, this `_all_` fields parameter still works correctly for all endpoints except for the `Query Workbooks for Site` endpoint.

Until Tableau patches the issue, interacting with Tableau Online or Tableau Server environments running API version 3.12 will error out when u

[2021-07-16 10:37] vickyboston20 opened #41 "Create site not working"
Hi only create site not working , i dont want to use another TSC library for just create site . So im raising this issue.
Python: 3.6
Tableau api: 3.11
**Steps to reproduce:**
`from tableau_api_lib import TableauServerConnection

tableau_config = {
    'tableau_prod': {
        'server': server,
        'api_version': api,
        'username': username,
        'password': password,
        'site_n

[2021-07-18 14:06] divinorum-webb commented on #41
Hi @vickyboston20 thanks for calling this out.
I have pushed a temporary fix which simply disables all of the optional parameters that are triggering Java errors on the Tableau Server side. This method should now work for you (`pip install -U tableau-api-lib`).

This isn't the only issue that has entered the picture since the latest version of Tableau Server (and Tableau Online) was released. I'm

[2021-07-19 06:41] vickyboston20 commented on #41
Hi @divinorum-webb i checked it once then i checked it twice. Now its working fine :>
Thanks for your quick response much appreciated.

[2021-07-19 06:41] #41 closed

[2021-07-20 14:23] vickyboston20 opened #44 "Error in Create group"
i Found bug while creating group with active directory.

**To Reproduce:**
`conn.create_group(new_group_name=group_name, active_directory_group_name=ad_group_name, active_directory_domain_name = ad_domain_name, minimum_site_role=site_role, license_mode=mode)`
**Error:**
[code]
i found that error with updating dictionary
**Fix:**
tableau_api_lib/api_requests/create_group_request.py
line 129
[code]

[2021-07-21 22:00] divinorum-webb commented on #44
@vickyboston20 thanks for calling this out! Can you please `pip install -U tableau-api-lib` and let me know if the issue is resolved for you?

[2021-07-22 20:04] rahulgdunzo opened #47 "Sign In error"
Getting error while siging in:
"module 'tableau_api_lib.api_requests' has no attribute 'SignInRequest' "

[2021-07-22 20:05] rahulgdunzo commented on #47
The code i am using:
connection = TableauServerConnection(config_json=tableau_server_config, env='my_env')
connection.sign_in()

[2021-07-22 20:13] divinorum-webb commented on #47
Hey @rahulgdunzo can you try running `pip install -U tableau-api-lib` and then give your code another try?

[2021-07-22 20:30] rahulgdunzo commented on #47
I tried this and getting still the same error. I am already using version=0.1.21

[2021-07-22 21:06] divinorum-webb commented on #47
To check some basics since I am not able to reproduce this error, can you confirm your Python version and that your file name is not `tableau_api_lib`?

[2021-07-23 05:14] rahulgdunzo commented on #47
Hey Elliott,
Yes, My file name is different and the python version is 3.7

On Fri, Jul 23, 2021 at 2:36 AM Elliott ***@***.***> wrote:

--
*Regards, *
*Rahul Gupta*
*Analytics *
*+91-7899488293 *

[2021-07-23 16:11] divinorum-webb commented on #47
Unfortunately I can't help any further having just this information. Another person has just installed this same version and is not getting this error, so I'm not sure what could be causing your error. Can you share the entire stacktrace for your error and the exact code (not including credentials) in the script you are running?

[2021-08-05 17:14] adeturckheim opened #48 "Cannot connect to default site on tableau server"
Hi there,
For this config, where I'm using only the defaults site, then the config below works with the tableauserverclient connection protocol but not with the one of your package.
[code]

Any idea of what the site_id and site_name should be filled with?
Thanks!

[2021-08-05 20:58] divinorum-webb commented on #48
FIrst let's confirm you are using the format for the config that this library expects? It looks something like this for the default site:

[code]

Then you would have something like `conn = TableauServerClient(config, env="default")` to establish your connection.

[2021-09-26 17:35] zack-nguyen opened #50 "Sign-in: No authentication credentials were provided"
Hi @divinorum-webb ,
I tried your sample code below

from tableau_api_lib import TableauServerConnection
tableau_config = {
    'tableau_prod': {
        'server': 'https://myserver.com',
        'api_version': '3.11',
        'username': 'myusername',
        'password': 'mypassword',
        'site_name': 'Default',
        'site_url': 'https://myserver.com/#',
        'cache_buster': '',

[2021-09-26 19:44] divinorum-webb commented on #50
Hey @zack-nguyen the `site_url` should not be the actual server address, it should be the site name as it appears in your browser. For the default site you can use:
'site_name': 'Default',
'site_url': ''

Or you could also do:
'site_name': '',
'site_url': ''

The site URL / content URL / site ID (it has many names, and site ID is the most confusing because it is NOT the same thing as the site ID i

[2021-09-26 23:59] zack-nguyen commented on #50
Thanks for your quick response. Perfect clarification, that solved my issue

[2021-09-26 23:59] #50 closed

[2021-09-27 15:30] divinorum-webb commented on #48
Hey @adeturckheim, following up on this: were you able to successfully connect using the pattern above?

[2021-09-27 15:33] divinorum-webb commented on #47
@rahulgdunzo following up on this: are you still unable to sign in? If so can you share a screenshot of the full error as it appears when you encounter it?

[2021-09-27 15:34] divinorum-webb commented on #44
@vickyboston20 following up: has running `pip install -U tableau-api-lib` to upgrade the library resolved this issue?

[2021-09-27 15:41] divinorum-webb commented on #38
@dreamca4er given how long the underlying endpoint has been impacted, I made the decision to not use `_all_` fields by default. The `querying.get_workbooks_dataframe` function has recently been changed to:

[code]

So you can now use the function without error, but it does not fetch some of the available fields that are documented in the REST API reference when using the `_all_` parameter. At any

[2021-09-27 15:41] #38 closed

[2021-09-28 14:39] Thibault-Santonja opened #51 "Error when using delete_data_driven_alert()"
Hi, I've got the error bellow, I think it's due to a missing attribute in the DataAlertEndpoint() class, an attribute: _delete_data_alert. I have tried to add it and init it to True when I execute a deletion on a DataAlert. Next, I've specified this variable in the mutually_exclusive_params() method of this class, so that it will be checked during _validate_inputs() method call.

Finally, in table

[2021-10-20 00:59] kenpayson opened #52 "Missing Run Flow Now method"
The Tableau method Run Flow Now is not available in tableau-api-lib.

[2021-10-21 19:33] kenpayson commented on #52
Elliott,
Yes, it is working.  Thanks for the help!

On Wed, Oct 20, 2021 at 4:03 PM Elliott ***@***.***> wrote:

--
Ken Payson
703-627-0365

[2021-10-21 19:35] #52 closed, assigned to nobody

[2021-11-13 00:59] Subhash-Daggubati opened #54 "parameter_dict not working for get_users_on_site()"
There is no difference in the response for the following lines of code.

conn.get_users_on_site()
conn.get_users_on_site(parameter_dict={'fields':'_all_'})

Based on Tableau REST API documentation, when the fields parameter with value _all_ is passed, the response should also have email and Full Name details. But it is returning the default response.

https://help.tableau.com/current/api/rest_api/

[2021-11-13 09:32] divinorum-webb commented on #54
Hi @Subhash-Daggubati if a parameter that does not map to any functionality is passed then there will be no impact on Tableau's side. In your example, you would want to be specifying `fields=_all_`.

You would need to define your parameter dict in this case as `{"<your_chosen_param_label>": "fields=_all_"}`.

At the surface it seems that the "fields" should just be the key of the dict, and then th

[2021-11-13 09:32] #54 closed

[2021-11-19 22:20] Deepika1495 opened #56 "Error running Flow"
I am having issues trying to run a Flow using `run_flow_now` method on `TableauServerConnection`.

This is my connection setup :

`
tableau_server_config_2 = {
        'my_env_': {
                'server': 'tableau server',
                'api_version': '3.11',
                'personal_access_token_name’:'token name',
                'personal_access_token_secret’:'token',
                'site

[2021-11-20 10:15] divinorum-webb commented on #56
Hi @Deepika1495 I have tried reproducing your error but my use of `run_flow_now` is indeed sending an empty JSON payload. In the code in this repository, if you view the `TableauServerConnection` method `run_flow_now` it can also be observed there that an empty JSON body request is defined.

Can you try running `pip install -U tableau-api-lib` to ensure you are not running an older version of the

[2021-11-20 15:28] Deepika1495 commented on #56
Hi @divinorum-webb,

Thank you for taking a look. I am on the latest version and I did upgrade as well.
Like you mentioned, `print("active_request:", conn.active_request) ` is an empty json `{}`.

But I am still seeing the error

`
response = conn_2.run_flow_now(
flow_id='bab89e67-9d44-44ff-b82f-0d4147173a48'
)

print(response.content)

b'{"error":{"summary":"Bad Request","detail":"Required reques

[2021-11-20 16:28] Deepika1495 commented on #56
Hi @divinorum-webb ,

I think I may have found the issue, the headers are not being updated correctly for `run_flow_now()` method.

When I query the headers , I see this :

`
print("active_headers:", conn_2.active_headers)
`

`
active_headers: {'Content-Type': 'application/json', 'Accept': 'application/json', 'X-Tableau-Auth': ’token', 'content-type': 'multipart/mixed; boundary=a2e57a2181d3c4315ac

[2021-11-20 17:54] divinorum-webb commented on #56
Hi @Deepika1495 your conclusion is correct, the `run_flow_now` method should be resetting the connection's active headers to the default headers and this stage was missing. A patch has been made and if you run `pip install -U tableau-api-lib` you will install the latest version of the library containing the patch.

Thanks!

[2021-11-20 17:54] #56 closed

[2021-12-01 20:22] Deepika1495 opened #58 "Get flow run method is not supported"
I want to check the status of a flow I just triggered using `run_flow_now()` method.
There seems to be no support for get_flow_run Tableau API in tableau-api-lib.- https://help.tableau.com/current/api/rest_api/en-us/REST/rest_api_ref_flow.htm#get_flow_run .

[2021-12-16 09:32] aggsol opened #59 "How to set proxy to connect server?"
How can I specify the proxy to be used for a connection?

[2021-12-21 01:16] zack-nguyen opened #60 "ConnectionError: You are already signed in with a valid auth token."
Hi @divinorum-webb,
After upgrade to latest tableau server version 2021.4.2,  switch_site_responses seems no longer running
`File "C:\Users\znguyen\Desktop\Python script\test3.py", line 80, in query_datasource
    switch_site_responses.append(connection.switch_site(site['contentUrl']))
  File "D:\Python\Python39\lib\site-packages\tableau_api_lib\decorators\verification.py", line 50, in wrapper

[2021-12-28 15:53] divinorum-webb commented on #44
Closing as the issue is believed to be resolved.

[2021-12-28 15:53] #44 closed

[2021-12-28 15:54] divinorum-webb commented on #47
Closing due to inactivity.

[2021-12-28 15:54] #47 closed

[2021-12-28 15:54] divinorum-webb commented on #48
Closing due to inactivity.

[2021-12-28 15:54] #48 closed

[2021-12-28 15:55] divinorum-webb commented on #58
@Deepika1495 can you try installing the latest version with `pip install -U tableau-api-lib` and follow up if the issue is resolved for you?

[2021-12-28 15:58] divinorum-webb commented on #59
@aggsol can you clarify what you mean with a sample proxy you are trying to specify? In general if you are using a proxy this should not impact the API usage, assuming your network is configured to forward requests from your proxy server to the real server.

[2021-12-28 16:33] divinorum-webb commented on #60
Hi @zack-nguyen, can you double check that you have the most recent version of the library installed?
You can do this by running `pip install -U tableau-api-lib` in your terminal/command line.
This sounds like a familiar bug for an older version of the library when the method switching sites was not properly nullifying the original auth token when alternating sites.

Another possibility is that yo

[2021-12-31 22:04] zack-nguyen commented on #60
Hey @divinorum-webb,
The user I used to test is server administrator and should have all privilege, I also updated to `v0.1.28` and got the error below:
[code]
Have this `v0.1.28` tested against Tableau latest version 2021.4.2 ?

[2022-01-11 11:28] test145wqwe opened #62 "MaxRetryError"
Hi,
I'm trying to use tableau api to read data from my organisation's Tableau server, but am receiving this error. Any ideas what's going wrong here?

urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='com', port=443): Max retries exceeded with url: //api/3.1/serverinfo (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000207EA9B8B38>: Failed to esta

[2022-01-11 20:19] divinorum-webb commented on #62
Hi @test145wqwe, I'm assuming the values that are empty strings in your sample code are populated on your end? And is your server really running on version 2018.2 (that is the version that uses REST API version 3.1)?

If so, then from your error it looks like there's an issue with SSL. Some common things to look for or ask your IT team (or whoever manages your Tableau Server environment):
1) Is yo

[2022-01-19 10:43] rahulhacker opened #63 "Need to add new permission object"
https://github.com/divinorum-webb/tableau-api-lib/blob/2b6a8eaadda51c8e1be2bc2116ebc5d2352a3aee/src/tableau_api_lib/api_endpoints/permissions_endpoint.py#L84

For querying default permission for project, workbook, datasources is working as expected but the below line items are not working. As we saw that these are not added in the valid_project_permissions_object method.  For working it, made chan

[2022-01-19 11:10] divinorum-webb commented on #63
Hey @rahulhacker thanks for raising this point. I will take a closer look and integrate any resulting improvements in an upcoming patch. Appreciate the feedback! This opened issue will remain open until the changes are in the library.

[2022-01-19 12:36] divinorum-webb commented on #63
@rahulhacker if you `pip install -U tableau-api-lib`, the latest version adds support for the three items: dataroles, metrics, and lenses. Please confirm if the updates have resolved your issue.

[2022-01-31 20:29] agrasurbhi opened #65 "Clone_group under utils.cloning group.py"
I am using clone_groups function defined under utils.cloning group.py.

The groups which are present in  source Tableau server but not present in Tableau Target connection are cloned using this function
ie they are created under a site in Tableau Target connection
The group are getting created ut the users are not getting pupulated though I have set populate_users as True.

[code]

Please guide

[2022-01-31 21:03] divinorum-webb commented on #65
Hey @agrasurbhi all of the `utils.cloning` logic was experimental three years ago and may not accommodate all of the nuances of server environments that may exist today. I've considered removing it entirely, but some aspects of these cloning functions have been useful to people so it has survived.

If your target server does not yet have users created, you'll want to first use the `utils/cloning/c

[2022-02-04 22:53] harrismcgehee opened #66 "Error when running update_group for ActiveDirectory group"
Many thanks for the package!

I'm having trouble refreshing an AD group.
https://help.tableau.com/current/api/rest_api/en-us/REST/rest_api_ref_users_and_groups.htm#update_group

[code]
`"{\"error\":{\"summary\":\"Bad Request\",\"detail\":\"errors.bad_request.detail.invalid_grant_license_mode\",\"code\":\"400125\"}}"`

I get this response, but I can't find where it is coming from.

The active_reque

[2022-02-10 05:03] rahulhacker commented on #63
Yes, the issue has been resolved.

[2022-02-11 21:25] #63 closed

[2022-02-14 08:27] rahulhacker opened #67 "Request Enabled settings for site is not working."
curl --location --request PUT '<tableau_url>/api/3.13/sites/<site_id>' \
--header 'X-Tableau-Auth: xxxxxxxxxxxxxxxxxxxxxxxxxxx
--header 'Content-Type: text/plain' \
--data-raw '<tsRequest>
  <site
	commentingEnabled="false"
    editingFlowsEnabled="false"
	requestAccessEnabled="false"
	dataAlertsEnabled="false"
	commentingMentionsEnabled="false"

	 />
</tsRequest>'

The above curl command working

[2022-02-20 09:47] #59 closed

[2022-03-03 13:54] harrismcgehee opened #69 "create_group might create the wrong field in request"
`conn.create_group(group_name = "test", minimum_site_role = "Explorer")`

yields

Deserialization problem: Unrecognized field \"**siteRole**\" (class com.tableausoftware.api.rest.viewmodels.GroupType), not marked as ignorable (6 known properties: \"domain\", \"import\", \"id\", \"userCount\", \"name\", \"**minimumSiteRole**\"])\n at [Source: (StringReader); line: 1, column: 72] (through reference

[2022-03-03 14:42] divinorum-webb commented on #69
I'll take a look, can you also share which tableau server version you are on?

[2022-03-03 15:24] #69 closed

[2022-03-28 08:01] dreamca4er opened #72 "Zero usage statistics in get_views_dataframe @ Tableau API 3.15"
**Python version**: 3.7.13
**tableau-api-lib version**: 0.1.31
**Tableau API version**: 3.15

**get_views_dataframe** returns all zeros in usage_totalViewCount column. Digging deeper we can find that get_views_dataframe calls **get_all_view_fields** function and that function gets views via calling extract_pages on TableauServerConnection method **query_views_for_site**. query_views_for_site doesn

[2022-04-12 04:47] danhislop opened #73 "Debug: How to see full URL of request?"
Have an issue with [filtering ](https://help.tableau.com/current/api/rest_api/en-us/REST/rest_api_concepts_filtering_and_sorting.htm#:~:text=define%20the%20filter-,View%20filtering%20basics,-Fields%20in%20a) where I can properly filter using postman and Tableau REST API directly, however using the otherwise reliable `tableau_api_lib` it does not.

How can I print/log to debug the actual request be

[2022-04-12 08:46] Ventrilok opened #74 "missing separator in get_view_data_dataframe"
Hello,

First, thanks for this lib, so useful for me and my team !

We recently identify a small issue with the get_view_data_dataframe that raised a tokenizing data error.
After a quick investigation we noticed that it was necessary to explicitly specify the separator:
`view_df = pd.read_csv(StringIO(view_data.text), sep=";")`

It would be very ulseful to add an additional argument in the get_vie

[2022-04-12 10:11] joshuataylor opened #75 "Update Data in Published Live-to-Hyper Data Sources"
Hi!

There is a really nifty feature for Hyper files where you can upload a hyper file and have it do actions such as update/upsert/delete/insert etc.

Documentation is here: https://help.tableau.com/current/api/rest_api/en-us/REST/rest_api_how_to_update_data_to_hyper.htm

Would this be worthwhile adding as a feature? The code for file uploads etc all seems to be in, I think it'll just be adding a

[2022-04-12 12:39] divinorum-webb commented on #73
Hey @danhislop, you can see the latest `active_endpoint` associated with your connection instance by running `conn.active_endpoint`. Same with headers and request JSON bodies: `conn.active_headers` and `conn.active_request`, respectively. That all assumes your connection instance is stored in a variable named `conn` -- just use whatever variable you initialized your connection into.

Hope this hel

[2022-04-12 12:46] divinorum-webb commented on #73
Also to clarify, it looks like the URI you are specifying above is missing the `site id` and `view id` portion:
`GET /api/api-version/sites/site-id/views/view-id/data?vf_<fieldname>=filter-value`

You can also try using the built-in querying function that will return your view data as a Pandas DataFrame. Looks something like:

[code]

Running the above against one of my test workbooks gets me:
<im

[2022-04-12 12:47] #74 closed

[2022-04-12 12:50] divinorum-webb commented on #75
Great recommendation, yes this is definitely worth adding as a feature. I will take a look in the near future -- otherwise, feel free to write it yourself and submit a merge/pull request!

There are a number of evolutions the REST API has made over the past several months that are not yet integrated into this library and you have highlighted one of them.

[2022-04-12 12:50] #62 closed

[2022-04-12 12:51] divinorum-webb commented on #58
Checking in if the latest version of the library has this issue fixed for you?

[2022-04-12 12:59] divinorum-webb commented on #72
Thanks for the feedback, I have added the `querying.get_all_view_fields` querying utils function.
Run `pip install -U tableau-api-lib` and you'll have that update!

If you want the most accurate picture of your view/dashboard usage, I recommend tapping into the Tableau Server Repository (assuming you are on Tableau Server), where you have access to a wealth of data points on view counts. In the lo

[2022-04-12 12:59] #72 closed

[2022-04-12 22:29] danhislop commented on #73
Thank you the first tip helps, will give it a try.
Regarding the missing `site id`, I typed a string in to redact it, maybe something like "<redacted>" - looks like the redaction was redacted : )

[2022-04-14 17:47] divinorum-webb commented on #67
Hey @rahulhacker, thanks for raising this issue. There was a typo in an enum related to the `requestAccessEnabled` flag. This typo is fixed in the latest version of the library. Running `pip install -U tableau-api-lib` will do the trick.

In testing the fix, I am now getting a successful execution using the `update_site()` method as shown in this screenshot:
<img width="883" alt="image" src="https

[2022-04-14 17:47] #67 closed

[2022-04-14 19:06] divinorum-webb commented on #66
Hey @harrismcgehee thanks for calling this out, it was indeed an evolution in the REST API that the library had not caught up with. If you run `pip install -U tableau-api-lib` you will have the latest version of the library.

[2022-04-14 19:07] #58 closed

[2022-04-14 19:09] #66 closed

[2022-04-26 09:35] Scatalina1 opened #77 "flatten_dict_list_column is deprecated"
When applying the flatten_dict_list_column function I receive the following warning:

[code]

[2022-04-27 22:12] divinorum-webb commented on #77
Hi @Scatalina1, thanks for your diligence in calling this out! This warning is issued by Pandas to alert users to a future deprecation of the `append` method on Pandas DataFrames and is not an indication that any feature in the `tableau-api-lib` will be deprecated.

The library will switch to using `concat` instead of `append` before the Pandas library deprecates `append`.

[2022-04-27 22:12] #77 closed

[2022-05-04 21:27] smallery opened #78 "common.py is using DataFrame.append() instead of pd.concat()"
this line https://github.com/divinorum-webb/tableau-api-lib/blob/59ac69fa18b0d1a21983ed41d38ad687a4193d04/src/tableau_api_lib/utils/common.py#L44 should be `flattened_col_df = pd.concat(flattened_col_df,temp_df)` instead to avoid the warning messages / future proof

[2022-05-05 14:42] borissl-tr opened #79 "Sign in with SSL"
Hi, can you help me to define a connection to this library by SSL?

I have an error:
requests.exceptions.SSLError: HTTPSConnectionPool(host='reports.etorocorp.com', port=443): Max retries exceeded with url: //api/3.14/serverinfo (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)')))

Defe

[2022-05-05 17:56] divinorum-webb commented on #79
Hi @borissl-tr, SSL certificate issues are not something the library has power over. However, if your server does not have SSL or if you do not want to verify SSL you can set the `ssl_verify` flag to `False`.

If your server does use SSL and you are having trouble with it, then I recommend speaking with your infrastructure or IT experts who may be able to provide details about why your attempts to

[2022-05-05 17:56] #79 closed

[2022-05-05 18:18] #78 closed

[2022-05-23 16:10] Ventrilok opened #81 "Issue with concat in flatten_dict_list_column"
Hello Elliott,

I'm reaching at you to raise an issue with the contact function in flatten_dict_list_column (utils/common.py). I'm using (v0.1.36) and I get an error when using the flatten_dict_list_column after a quick investigation, I believe the line 44
`flattened_col_df = flattened_col_df.concat(temp_df) `
need to be replace by
`flattened_col_df =  pd.concat([flattened_col_df, temp_df])`

Than

[2022-05-23 20:09] divinorum-webb commented on #81
@Ventrilok thanks for raising the issue! Running `pip install -U tableau-api-lib` will pull in the latest changes which correct the issue.

[2022-05-23 20:09] #81 closed

[2022-06-02 18:01] mlaflash opened #83 "KeyError: 'content' with subscriptions dataframe"
I am able to connect to Tableau server just fine and I have confirmed that I am using the most recent version, but when I run get_subscriptions_dataframe(conn) I get the following KeyError:

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
~\Anaconda3\lib\site-packages\pandas\core\indexes\base.py

[2022-06-04 22:05] divinorum-webb commented on #83
Hey @mlaflash I just reproduced this error by deleting all my subscriptions in a sandbox server and using the `get_subscriptions_dataframe` function when no subscriptons were available.

It's a nasty looking error that happens when zero subscriptions exist in the DataFrame. I'll add an update that gives a more user-friendly error indicating no subscriptions were found.

[2022-06-04 22:20] divinorum-webb commented on #83
If you update the library with `pip install -U tableau-api-lib`, you should no longer get this error when no subscriptions are returned from the underlying API request. You will now have an empty Pandas DataFrame.

[2022-06-04 22:20] #83 closed

[2022-06-07 06:54] agrasurbhi opened #85 "Below error being produced on using querying.get_subscriptions_dataframe(conn)"
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py in get_loc(self, key, method, tolerance)
   3079             try:
-> 3080                 return self._engine.get_loc(casted_key)
   3081             except KeyError as err:

pa

[2022-06-22 13:53] sheriefmdb commented on #60
Hi @zack-nguyen or @divinorum-webb, was this ever resolved? I'm running into the same issue after upgrading Tableau Server from 2021.2.7 to 2021.4.7.

[2022-06-22 22:07] divinorum-webb commented on #60
Hey @sheriefmdb I can reproduce the error described, but only when attempting to switch to the site I'm already authenticated in. In that situation, it makes sense to me that the `ConnectionError` indicates already being signed in with a valid auth token.

Can you confirm that you get the error when attempting to switch to another site that isn't the one you are already signed into? For example, i

[2022-06-23 17:04] sheriefmdb commented on #60
Thank you for the response @divinorum-webb. What's strange is that the script was running flawlessly before the upgrade. I'm using a Personal Access Token as a Server Admin for the script. The script essentially synchs our Okta groups with our Tableau groups for user provisioning. We have 2 sites, the script works fine for the default site, but gets the following error after successfully processin

[2022-06-23 18:55] divinorum-webb commented on #60
Hey @sheriefmdb I don't recall any specific changes that would be causing this issue, but it's clearly an issue so I'm going to look into it further. I'll follow up in this thread when I think I have a solution. Until then, perhaps wrap your existing logic with a `try/except` clause that excepts the ConnectionError. An ugly temporary fix, but perhaps it will hold things over until we have a proper

[2022-06-23 21:15] divinorum-webb commented on #60
@sheriefmdb can you run `pip install -U tableau-api-lib` and then attempt to run your code again? I've modified the logic such that calling `switch_site()` on the currently active site no longer raises an exception. Previously, attempting to switch from "Site A" to "Site A" would raise an exception.

[2022-06-24 14:59] ramirejs commented on #60
hello @divinorum-webb , I am having issues when I try to sign_out(). Whenever I first sign in then run some other functions, I want then at the end to sign out, however, I am getting the following error:

"ConnectionError: You are already signed in with a valid auth token or have insufficient permissions."

Wondering if something has changed. Would really appreciate your help/guidance.

[2022-06-24 16:05] sheriefmdb commented on #60
Hi @divinorum-webb , I ran pip install -U tableau-api-lib again and reran the code but am getting same error. What's strange is that the script will run successfully for all the groups on my default site (about 50 or so), then run successfully for the first tableau group on my second site, then fail. So it seems like it _does_ work for for the second site, but fails after processing one group. I h

[2022-06-24 20:27] KenH128 commented on #60
Hello @divinorum-webb, I am also running into issues when trying to sign_out().  I am getting the following error: ConnectionError: You are already signed in with a valid auth token or have insufficient permissions.
Would appreciate your help/guidance on how to resolve this issue.
Thank you

[2022-06-25 19:54] divinorum-webb commented on #60
@KenH128 that was a silly mistake on my part, sorry. I should have ran all the tests before pushing the previous changes. I reproduced the error on my end and the latest version of the library removes the `ConnectionError` that was being thrown while attempting to sign out.

[2022-06-26 13:26] KenH128 commented on #60
@divinorum-webb  thank you for updating the packages to fix the sign_out error, much appreciated.

[2022-06-29 13:30] dreamca4er opened #86 "Problems with get_datasources_dataframe @ Tableau API 3.16"
**Python version**: 3.7.13
**tableau-api-lib version**: 0.1.40
**Tableau API version**: 3.16

Hello, looks like this problem and the one described in  https://github.com/divinorum-webb/tableau-api-lib/issues/38 have similar roots:
When executing `get_datasources_dataframe` we are getting '**Internal Server Error**'. And the reason of this is that now `conn.query_data_sources` doesn't work with `pa

[2022-06-29 16:49] #86 closed, assigned to nobody

[2022-06-29 17:12] dreamca4er commented on #86
Thanks a lot!

[2022-06-30 13:18] sheriefmdb commented on #60
Hi @divinorum-webb , just wanted to check in and see if there is any available fix for the error we get when we try to switch sites. As always, really appreciate your help and support.

[2022-06-30 21:14] divinorum-webb commented on #60
@sheriefmdb not sure how to proceed because I cannot reproduce this error.

In my tests everything is working as expected:
<img width="616" alt="image" src="https://user-images.githubusercontent.com/13069208/176778995-9647f8fb-b022-4700-a697-a911e75594c8.png">

[2022-07-07 17:46] divinorum-webb commented on #85
Hey @agrasurbhi try this: run `pip install -U tableau-api-lib` to get the most recent version of the library. Re-run your code, and now if the resulting dataframe does not have the `content` column then you will receive an empty dataframe rather than getting this error.

I also recommend running this to determine if there is some other issue at play:
[code]

If you are seeing some sort of error wh

[2022-07-07 17:47] divinorum-webb commented on #85
For context, here is what I'm seeing when using the `querying.get_subscriptions_dataframe` function and the `query_subscriptions` endpoint:
<img width="946" alt="image" src="https://user-images.githubusercontent.com/13069208/177837164-64d3c6ab-e155-442b-91a4-0a01587706b8.png">

[2022-07-08 12:28] hershey024 opened #88 "Error:"
from tableau_api_lib import TableauServerConnection
from tableau_api_lib.utils import querying, flatten_dict_column
import pandas as pd
from sqlalchemy import create_engine
import urllib
import io

# Login through U/P, not using token
tableau_server_config = {
    'tableau_dev' : {
        'server': '',
        'api_version': '3.14',
        'username':'',
        'password':'',
        'site_name

[2022-07-11 17:29] divinorum-webb commented on #88
Hey @hershey024 I'm able to reproduce your results if I create a `parameter_dict` which defines filters that result in 0 data.

<img width="725" alt="image" src="https://user-images.githubusercontent.com/13069208/178323030-1594e5a8-df88-4155-b5c0-2ad12fbf162b.png">

In my screenshot I'm doing this by setting an actual field to be filtered by a value which does not exist, which results in 0 results

[2022-07-19 11:19] hershey024 commented on #88
Hi @divinorum-webb, thanks for your help. I checked and changed the area code value and the filter is working fine, but the date filter is still throwing EmptyDataError. I entered the date in yyyy-mm-dd format. Also checked the underlying query to verify the original column name(changing to it) but with no luck. .twb file also displays the format in the same way above. Any further suggestions?

[2022-07-22 22:38] sheriefmdb commented on #60
Hey @divinorum-webb, thanks for all your help here. I forgot to close the loop here, I ended up adjusting our script and it works as expected now. Thanks again and have a good one.

[2022-07-26 05:45] ascendmgt opened #90 "Tableau Cloud/Online ?"
Hi,
Can you let me know the required settings to make this work with Tableau Online/Cloud rather than Server?

[2022-07-26 22:31] divinorum-webb commented on #90
@ascendmgt the REST API works in the same way on Tableau Server as Tableau Online.

You can think of Tableau Online as a big Tableau Server, where Tableau is the ultimate server admin and you are at most a site admin within your sliver of the server, which would be the site delegated to your organization.

Regardless of whether it is Tableau Server, Tableau Online, or Tableau Cloud the REST API wi

[2022-07-26 23:50] cmcau commented on #90
Sure, I know the difference between Server and Online/Cloud, but what are the settings to make it work?

At the moment I have this ...

`
# sample config
config = {
  'tableau_env': {
    'server': 'https://us-east-1.online.tableau.com',
    'api_version': '3.16',
    'personal_access_token_name': 'TOKEN NAME',
    'personal_access_token_secret': 'TOKEN CODE',
    'site_name': 'SITENAME',
    'sit

[2022-07-26 23:52] ascendmgt commented on #90
Sure, I know the difference between Server and Online/Cloud, but what are the settings to make it work?

At the moment I have this ...

[code]

But it doesn't login and I've tried quite a few combinations of the site_url, using user/pass or PAT.

I got the code from https://towardsdatascience.com/query-tableau-workbook-permissions-for-all-groups-and-users-4ae4e4cc404  I don't have a Server to test

[2022-07-27 08:08] divinorum-webb commented on #90
@ascendmgt Ah, I see what you mean now.

One thing that jumps out is your `site_url` not being correct. This is supposed to be the site's name as it would appear in a URL. In many cases this is identical to the actual site name.

For example, consider my own Tableau Online config:
[code]

But now consider a site that has spaces between words, such as "My Site".
In this case the site name would be

[2022-07-27 21:56] ascendmgt commented on #90
Ah, perfect, that works now :)
Thanks for your help, this is a great resource :)

[2022-07-28 00:27] #90 closed

[2022-07-28 13:55] Guipetris commented on #90
Great stuff! Had the same doubt and checked here before asking it! 👍

[2022-07-28 14:14] Guipetris commented on #90
Hey - just followed the same thing as him but i'm getting this instead:

[2022-07-28 19:39] divinorum-webb commented on #90
Hey Guilherme, the error you are getting is because querying sites is not
supported in Tableau Online. If it were, you would be able to see details
of all the other companies/individuals who have a site within Tableau
Online.

For Tableau Server, querying sites is useful because you can create
multiple sites for various purposes. However, with Tableau Online you are
given a single site on a massiv

[2022-07-29 17:04] alitwaij opened #91 "query.Get_Users_DataFrame has two missing columns in new version"
Hi i noticed in the version i downloaded on 28 july 22 that get users method was mssing email and FullName from the columns that existed in version 0.1.37 (downloaded around Aug 2021). Plz can they be added back.

[2022-07-29 19:42] divinorum-webb commented on #91
Hi @alitwaij this change was made to avoid errors related to Tableau's REST API failing to support the `_all_` fields parameter for an increasing number of endpoints. It began with the endpoints related to views and has recently impacted the projects endpoints as well.

For now the relevant users endpoint supports the field, so if you run `pip install -U tableau-api-lib` then you will once again b

[2022-08-25 13:19] satyamk28 opened #94 "ModuleNotFoundError: No module named 'tableau_api_lib'"
I have installed the library using command **pip install --upgrade tableau-api-lib**

It is also installed on my system

![image](https://user-images.githubusercontent.com/26164350/186675142-ccd3be2c-f263-4219-85d6-159645646fe9.png)

But when I am running in on Jupyter, I am getting error that

![image](https://user-images.githubusercontent.com/26164350/186675357-054fa99d-46f3-4409-9f44-b7b0b1193a

[2022-08-25 17:36] divinorum-webb commented on #94
This is most likely an issue with your environment. On a windows machine I've had issues with packages and Python environments before. Seeing `~/AppData/` in the file path makes me think there might be some of that weirdness at play for you.

I'd recommend creating a virtual environment and then activate that environment, install the package within that environment, and try again. If you're using

[2022-08-26 06:43] satyamk28 commented on #94
Virtual environment worked like a charm. Thanks for the help.

[2022-08-26 06:43] #94 closed

[2022-09-19 15:31] mayaralp opened #96 "Problems with get_views_dataframe API 3.16"
I'm using tableau_api_lib.utils.querying. get_views_dataframe function an error occurs

PaginationError:
        The Tableau Server REST API method query_views_for_site did not return paginated results.
        Please verify that your connection is logged in and has a valid auth token.
        If using personal access tokens, note that only one session can be active at a time using a single token.

[2022-09-19 17:29] divinorum-webb commented on #96
Hi @mayaralp, I'm unable to reproduce the error. Can you confirm which version of `tableau-api-lib` you have?

If you run `pip list`, you'll see something like this:
<img width="277" alt="image" src="https://user-images.githubusercontent.com/13069208/191077729-267c87b8-f73e-4e80-93d9-1e379f4e6ccb.png">

[2022-09-19 18:03] mayaralp commented on #96
Hi @divinorum-webb thanks for the quick response. Follow as you need:
![image](https://user-images.githubusercontent.com/45518241/191083837-816566f2-be20-4118-acec-efe0ee185a6f.png)

[2022-09-19 18:11] divinorum-webb commented on #96
Ok, that rules out having an issue related to an older version of the library.

What do you get back when hitting the `query_views_for_site` endpoint? You can access that from your connection -- something like `response = conn.query_views_for_site()`.

[2022-09-19 18:46] mayaralp commented on #96
I can, I get a response 200.

[2022-09-19 18:48] divinorum-webb commented on #96
What about the content within it? Is it empty or are you getting data for your views on the site?

[2022-09-19 18:51] mayaralp commented on #96
I can get data in the content either.
![image](https://user-images.githubusercontent.com/45518241/191093319-8541861e-637b-4bf2-8574-d9d79c086929.png)

[2022-09-19 19:09] divinorum-webb commented on #96
I'm not able to reproduce the error locally, however I did notice that you have nearly 12,000 views in your results and the pagination logic within the library defaults to 100 results per page. It's a long shot, but perhaps the high number of iterations required to retrieve your results is an issue. I pushed an update to the library increasing the default page size from 100 to 1,000. To test if th

[2022-09-19 19:27] mayaralp commented on #96
Is there a way for me to override the default page size? I have been able to reproduce this issue in postman with the REST api and it seems to be an issue with the paging and large page sizes. I am actually able to get successful responses with lower page sizes. We have opened a ticket with Tableau to investigate but a workaround would be for me to try this and set the page size myself.

[2022-09-19 19:39] divinorum-webb commented on #96
Just added support for user-defined page size when querying views or users, looks like this:
`views_df = querying.get_views_dataframe(conn, page_size=1000)`.

Just run `pip install -U tableau-api-lib` to get the latest version of the lib.

[2022-09-20 18:18] mayaralp commented on #96
Hi @divinorum-webb it worked passing page size as 1. Although it takes a long time to get all but it will work until I have an answer from Tableau.
Thanks for your support.

[2022-09-20 18:18] #96 closed

[2022-10-11 07:41] alitwaij commented on #91
Brilliant many thanks indeed. Very useful info. Your library really helped me in my work. Am really grateful to you.

Thankyou

Ali
________________________________
From: Elliott ***@***.***>
Sent: Friday, July 29, 2022 8:43:08 PM
To: divinorum-webb/tableau-api-lib ***@***.***>
Cc: alitwaij ***@***.***>; Mention ***@***.***>
Subject: Re: [divinorum-webb/tableau-api-lib] query.Get_Users_DataFrame h

[2022-10-14 03:55] zhaisw opened #100 "`datasource_id` returned by `querying.get_workbook_connections_dataframe` function does not match with actual datasource id"
When using function `querying.get_workbook_connections_dataframe` to query workbook connections, the `datasource_id` column in the returned dataframe does not match `datasource id` got from `querying.get_datasources_dataframe`.

Can you please check whether this issue exists? Thanks.

[2022-10-14 11:18] divinorum-webb commented on #100
Hey @zhaisw, `tableau-api-lib` is a library which makes it possible to query Tableau's endpoints but it does not have control over how Tableau defines the responses returned by any given endpoint they have developed.

From playing with the Metadata API a bit and exploring the properties of the workbook, its connection, and the related datasource, my suspicion is that Tableau is providing the `id`

[2022-10-14 20:29] zhaisw commented on #100
Thank you so much for your explanation and detailed information. I will raise the issue to Tableau community as well.
The library helps a lot, thank you! Cheers!

[2022-10-15 11:54] divinorum-webb commented on #100
@zhaisw check out the community slack channel for the DataDev community. It's a Tableau development community, focused on tools like the REST API and Metdata API rather than the analytics/data visualization side of things.
https://community.tableau.com/s/question/0D54T00000C5OqVSAV/join-the-datadev-slack

I posted a question about this topic in their slack channel `help-rest-api`.

[2022-10-15 11:54] #100 closed

[2022-10-15 11:54] #91 closed

[2022-10-15 11:56] divinorum-webb commented on #85
@agrasurbhi following up, was your issue resolved by the recommendations above?

[2022-10-16 00:16] adeekhan opened #102 "Download underlying data"
Hi,
I have used [tableau_api_lib](https://pypi.org/project/tableau-api-lib/), using which I can query, site, workbook and view. However there are two issues I have:

1. I have used get_view_data_dataframe() and query_view_data() , which downloads the default view data, howevery not able to download the underlying data. I am after downloading the underlying data of the view similar to which I can d

[2022-10-16 11:46] divinorum-webb commented on #102
Hey @adeekhan let's dig into this a bit further.
1) Are you saying that you do not want to query the view data as summarized in the Tableau view, but rather you want to query the underlying database directly?
2) Do the filter names or values you are using in your `parameter_dict` have non-URL friendly characters in them? If the fields or values you are filtering on have characters such as " " (bla

[2022-10-18 08:38] adeekhan commented on #102
Thanks Elliott, for the swift response allow me to reply both of your queries individually.
1 - Yes, your understanding is correct, I would like to download the raw data behind that view. similar to what we do in view when accessing it using web:
![image](https://user-images.githubusercontent.com/33410502/196379023-1f23584d-4aa0-4068-bed0-40682df5f2a7.png)
2- I have actually tried urllib.parse.quo

[2022-10-18 20:19] divinorum-webb commented on #102
For (1) you may need to download the datasource (Download Data Source endpoint) or download the workbook (Download Workbook endpoint) to get to your underlying data using Tableau. However, this is bad practice in my opinion. If you want the underlying data, going directly to the source and building ETL processes outside of Tableau is best. For example, if you connect to a database using Tableau an

[2022-10-29 12:29] adeekhan commented on #102
Hi,
Thank you for the valuable input, the filters now actually works, it was indeed aliases which were causing the issue. For the first issue do you have a sample python code to download the datasource or workbook that I can modify to use in my code, please excuse my limited tableau and python knowledge.

[2022-11-02 12:22] RahulSelva opened #103 "Published Datasource - update_Workbook_connections"
Hi,
 I am using the update_workbook_connections function to update the datasource connection in my workbook, what i could not do is, update the connection details of the published datasource connections credentials, predominantly i want to change the server details of the published_datasource connection

[2022-11-21 11:13] alejandro-anzu opened #104 "Problem using `get_view_data_dataframe()`"
Hi, I'm trying to get data from a view using the `get_view_data_dataframe()` function but I'm getting an empty text in the response. No idea what can be happening because the view id is ok and the response has code 200

[2022-11-21 18:48] divinorum-webb commented on #104
Hey @alejandro-anzu I just tested the function and am getting the expected results, for example:
<img width="807" alt="image" src="https://user-images.githubusercontent.com/13069208/203135329-6964b8f4-8b5b-4675-82a2-07b2c08c4dcd.png">

First possible issue that comes to mind: are you referencing the view ID for a dashboard rather than for an actual sheet? This is often the cause of receiving unexp

[2022-11-23 17:00] donnacoles opened #105 "Error with add_default_permissions when RunExplainData or CreateRefreshMetrics included in capabilities"
If I have a string of capabilities I want to add to the default project permissions for workbooks then this code snippet works

str2={'Read': 'Allow',
'Filter': 'Allow',
'ExportImage': 'Allow',
'ShareView': 'Allow',
'ViewUnderlyingData': 'Allow',
'WebAuthoring': 'Allow',
'Write': 'Allow',
'ExportXml': 'Allow',
'ExportData': 'Allow'
     }

response=conn.add_default_permissions(
    project_id='616

[2022-11-24 09:00] agrasurbhi opened #106 "download_workbook_powerpoint instead of download_workbook_pptx"
Hi Elliot,

I saw one of the video where we are guided how to download powerpoint from tableau workbook https://www.youtube.com/watch?v=Cxug64ICQmg
Here we are using download_workbook_powerpoint  method to download the workbook and in the repository we have download_workbook_pptx as method defined

For me, I am able to download using download_workbook_powerpoint .
Does the new version of tableau-.